    <!-- ======= Product Section ======= -->
    <section id="product" class="Product">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Products</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>
  
          <div class="row">
            <img src="../assets/img/plastic.jpg" class="img-fluid pad-bot-30" alt="">
          </div>

          <div class="row">

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5" data-aos="fade-up">
              <div class="icon-box icon-box-pink">
                  <h4 class="title"><a href="/product/#polyethylene">Polyethylene (PE)</a></h4>                  
                  <div class="table-responsive description">
                    <table class="table table-hover">                
                        <tbody>                            
                            <tr>
                                <td>High Density Polyethylene (HDPE)</td>                        
                            </tr>
                            <tr>
                                <td>Low Density Polyethylene (LDPE)</td>                        
                            </tr>
                            <tr>
                                <td>Linear Low Density Polyethylene (LLDPE)</td>                        
                            </tr>
                        </tbody>
                    </table>
                  </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5" data-aos="fade-up">
              <div class="icon-box icon-box-pink">
                  <h4 class="title"><a href="/product/#polypropylene">Polypropylene (PP)</a></h4>                    
                  <div class="table-responsive description">
                      <table class="table table-hover">                
                          <tbody>                            
                              <tr>
                                  <td>HOMO Polypropylene</td>                        
                              </tr>
                              <tr>
                                  <td>COPO Polypropylene</td>                        
                              </tr>
                              <tr>
                                  <td>Random Polypropylene</td>                        
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5" data-aos="fade-up">
              <div class="icon-box icon-box-pink">
                  <h4 class="title"><a href="/product/#pvc">Polyvinyl Chloride (PVC)</a></h4>
                  <div class="table-responsive description">
                    <table class="table table-hover">                
                          <tbody>                            
                              <tr>
                                  <td>K-Value 57</td>                        
                              </tr>
                              <tr>
                                  <td>K-Value 61</td>                        
                              </tr>
                              <tr>
                                  <td>K-Value 66</td>                        
                              </tr>
                          </tbody>
                    </table>
                  </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5" data-aos="fade-up">
              <div class="icon-box icon-box-pink">
                  <h4 class="title"><a href="/product/#pet">Polyethylene Terephthalate (PET)</a></h4>
                  <div class="table-responsive description">
                    <table class="table table-hover">                
                          <tbody>                            
                              <tr>
                                  <td>Bottle Grade</td>                        
                              </tr>
                              <tr>
                                  <td>Textile Grade</td>                        
                              </tr>
                              <tr>
                                  <td>Pharma Grade</td>                        
                              </tr>
                          </tbody>
                    </table>
                  </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5" data-aos="fade-up">
              <div class="icon-box icon-box-pink">
                  <h4 class="title"><a href="/product/#styrenics">Styrenics</a></h4>
                  <div class="table-responsive description">
                      <table class="table table-hover">                
                          <tbody>                            
                              <tr>
                                  <td>GPPS</td>                        
                              </tr>
                              <tr>
                                  <td>HIPS</td>                        
                              </tr>
                              <tr>
                                  <td>ABS</td>                        
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>

          </div>
  
        </div>
      </section><!-- End Product Section -->