<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container">

        <!-- <div class="section-title" data-aos="fade-up">
            <h2>About Us</h2>
        </div>
        <div class="row">
            <img src="../assets/img/about-us.jpg" class="img-fluid pad-bot-30" alt="">
            https://www.shutterstock.com/image-photo/asian-business-people-engineer-team-success-1253365348 
            https://www.shutterstock.com/image-photo/silhouette-teams-engineer-foreman-working-petrochemical-1080243251
        </div>

        <div class="row text-justify">
            <div data-aos="fade-up">
                <p>ARTIMIS is an international marketing and distribution company that connects renowned petrochemical manufacturers and end users of plastics through the supply of top range products and custom-made business solutions. We are a company with global reach
                    to support the producers and buyers utilising many years of our experience and knowledge of the market and products.</p>
            </div>
        </div> -->
        
        <div class="row">
            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="../assets/img/about-img-0.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0 text-justify">
                <h3 data-aos="fade-up">About Us</h3>
                <p data-aos="fade-up">
                    ARTIMIS is an international marketing and distribution company that connects renowned petrochemical manufacturers and end users of plastics through the supply of top range products and custom-made business solutions. We are a company with global reach
                    to support the producers and buyers utilising many years of our experience and knowledge of the market and products.
                </p>

                <!-- <div class="icon-box" data-aos="fade-up">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Focus on Efficiency</h4>
                    <p></p>
                </div>

                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Excellence in Logistics</h4>
                    <p></p>
                </div>

                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Creates Value</h4>
                    <p></p>
                </div>

                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Reducing Waste</h4>
                    <p></p>
                </div>

                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Applying Market Knowledge</h4>
                    <p></p>
                </div>  -->

            </div>
        </div>

    </div>
</section>
<!-- End About Section -->