    <!-- ======= Index_Product Section ======= -->
    <section id="product" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Products</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-pe">PE</li>
              <li data-filter=".filter-pp">PP</li>
              <li data-filter=".filter-pvc">PVC</li>
              <li data-filter=".filter-pet">PET</li>
              <li data-filter=".filter-styrenics">Styrenics</li>                
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-pe">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/HDPE.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>HDPE</h4>
                <p>PE</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/HDPE.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="HDPE"><i class="bx bx-plus"></i></a>
                  <a href="/product/#polyethylene" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pet">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/PET_Bottle_Grade.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Bottle Grade</h4>
                <p>PET</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/PET_Bottle_Grade.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Bottle Grade"><i class="bx bx-plus"></i></a>
                  <a href="/product/#pet" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pe">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/LDPE.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>LDPE</h4>
                <p>PE</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/LDPE.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="LDPE"><i class="bx bx-plus"></i></a>
                  <a href="/product/#polyethylene" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pp">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/PP_HOMO.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>HOMO</h4>
                <p>PP</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/PP_HOMO.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="HOMO"><i class="bx bx-plus"></i></a>
                  <a href="/product/#polypropylene" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-styrenics">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/Styrenics_GPPS.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>GPPS</h4>
                <p>Styrenics</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/Styrenics_GPPS.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="GPPS"><i class="bx bx-plus"></i></a>
                  <a href="/product/#styrenics" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pet">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/PET_Textile_Grade.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Textile Grade</h4>
                <p>PET</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/PET_Textile_Grade.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Textile Grade"><i class="bx bx-plus"></i></a>
                  <a href="/product/#pet" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pe">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/LLDPE.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>LLDPE</h4>
                <p>PE</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/LLDPE.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="LLDPE"><i class="bx bx-plus"></i></a>
                  <a href="/product/#polyethylene" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pp">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/PP_COPO.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>COPO</h4>
                <p>PP</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/PP_COPO.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="COPO"><i class="bx bx-plus"></i></a>
                  <a href="/product/#polypropylene" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pvc">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/PVC_K-Value_57.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>K-Value 57</h4>
                <p>PVC</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/PVC_K-Value_57.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="K-Value 57"><i class="bx bx-plus"></i></a>
                  <a href="/product/#pvc" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div> 
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-styrenics">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/Styrenics_HIPS.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>HIPS</h4>
                <p>Styrenics</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/Styrenics_HIPS.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="HIPS"><i class="bx bx-plus"></i></a>
                  <a href="/product/#styrenics" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pp">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/PP_Random.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Random</h4>
                <p>PP</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/PP_Random.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Random"><i class="bx bx-plus"></i></a>
                  <a href="/product/#polypropylene" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pet">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/PET_Pharmaceutical_Grade.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Pharma Grade</h4>
                <p>PET</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/PET_Pharmaceutical_Grade.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Pharma Grade"><i class="bx bx-plus"></i></a>
                  <a href="/product/#pet" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pvc">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/PVC_K-Value_61.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>K-Value 61</h4>
                <p>PVC</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/PVC_K-Value_61.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="K-Value 61"><i class="bx bx-plus"></i></a>
                  <a href="/product/#pvc" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>           

          <div class="col-lg-4 col-md-6 portfolio-item filter-pvc">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/PVC_K-Value_66.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>K-Value 66</h4>
                <p>PVC</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/PVC_K-Value_66.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="K-Value 66"><i class="bx bx-plus"></i></a>
                  <a href="/product/#pvc" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-styrenics">
            <div class="portfolio-wrap">
              <img src="../assets/img/product/Styrenics_ABS.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>ABS</h4>
                <p>Styrenics</p>
                <div class="portfolio-links">
                  <a href="../assets/img/product/Styrenics_ABS.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ABS"><i class="bx bx-plus"></i></a>
                  <a href="/product/#styrenics" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Index_Product Section -->