<!-- ======= Polyethylene Terephthalate (PET) Section ======= -->
<section id="pet" class="pet product_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>Polyethylene Terephthalate (PET)</h2>                
                <a href="/#product">
                    <h6>Back to Products in Home Page</h6>
                </a>
                <br>                
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Bottle Grade</td>
                            </tr>
                            <tr>
                                <td>Film Grade</td>
                            </tr>
                            <tr>
                                <td>Textile Grade</td>
                            </tr>
                            <tr>
                                <td>Pharma Grade</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <img src="../assets/img/product/PET.jpg" class="img-fluid" alt="Polyethylene Terephthalate (PET)">
            </div>
        </div>
    </div>
</section>
<!-- End Polyethylene Terephthalate (PET) Section -->