<!-- ======= Services Section ======= -->
<section id="product" class="services section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Products</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem
                hic quas.</p> -->
        </div>
        <div class="row">
            <img src="../assets/img/plastic1.jpg" class="img-fluid pad-bot-30" alt="">
            <!-- https://www.shutterstock.com/image-photo/polymeric-dye-plastic-pellets-colorant-plastics-795323116 -->            
        </div>

        <div class="row">
            <div class="flex-container">
                <div class="flex-item">
                    <div class="d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
                        <div class="icon-box icon-box-pink product-tile-min-width">
                            <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
                            <!-- <h4 class="title"><a href="">Marketing & Distribution</a></h4> -->
                            <h4 class="title"><a href="/product/#polyethylene">Polyethylene<br />(PE)</a></h4>
                            <div class="description">                        
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td><a href="/product/#polyethylene">HDPE</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="/product/#polyethylene">LDPE</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="/product/#polyethylene">LLDPE</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                data-aos-delay="100">
                <div class="icon-box icon-box-cyan product-tile-min-width">
                    <!-- <div class="icon"><i class="bx bx-file"></i></div> -->
                    <!-- <h4 class="title"><a href="">Logistics</a></h4> -->
                    <h4 class="title"><a href="/product/#polypropylene">Polypropylene<br />(PP)</a></h4>
                    <div class="description">                        
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><a href="/product/#polypropylene">HOMO</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/product/#polypropylene">COPO</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/product/#polypropylene">RANDOM</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                data-aos-delay="200">
                <div class="icon-box icon-box-green product-tile-min-width">
                    <!-- <div class="icon"><i class="bx bx-tachometer"></i></div> -->
                    <!-- <h4 class="title"><a href="">Financing</a></h4> -->
                    <h4 class="title"><a href="/product/#pvc">Polyvinyl<br />Chloride<br />(PVC)</a></h4>
                    <div class="description">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><a href="/product/#pvc">K-Value 57</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/product/#pvc">K-Value 61</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/product/#pvc">K-Value 66</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                </div>
                <div class="flex-item">
                    <div class="d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                data-aos-delay="300">
                <div class="icon-box icon-box-blue product-tile-min-width">
                    <!-- <div class="icon"><i class="bx bx-world"></i></div> -->
                    <!-- <h4 class="title"><a href="">Nemo Enim</a></h4> -->
                    <h4 class="title"><a href="/product/#pet">Polyethylene<br />Terephthalate<br />(PET)</a></h4>
                    <div class="description">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><a href="/product/#pet">Bottle Grade</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/product/#pet">Film Grade</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/product/#pet">Textile Grade</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/product/#pet">Pharma Grade</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                </div>
                <div class="flex-item">
                    <div class="d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                data-aos-delay="400">
                <div class="icon-box icon-box-blue product-tile-min-width">
                    <!-- <div class="icon"><i class="bx bx-world"></i></div> -->
                    <!-- <h4 class="title"><a href="">Nemo Enim</a></h4> -->
                    <h4 class="title"><a href="/product/#styrenics">Styrenics</a></h4>
                    <div class="description">                        
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><a href="/product/#styrenics">GPPS</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/product/#styrenics">HIPS</a></td>
                                </tr>
                                <tr>
                                    <td><a href="/product/#styrenics">ABS</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                </div>
              </div>
        </div>
        <!-- <div class="row" style="padding-top: 30px;">
        </div> -->
</section>
<!-- End Services Section -->