<!-- ======= Polyvinyl Chloride (PVC) Section ======= -->
<section id="pvc" class="pvc product_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>Polyvinyl Chloride (PVC)</h2>                
                <a href="/#product">
                    <h6>Back to Products in Home Page</h6>
                </a>
                <br>                
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>K-Value 57</td>
                            </tr>
                            <tr>
                                <td>K-Value 61</td>
                            </tr>
                            <tr>
                                <td>K-Value 66</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <img src="../assets/img/product/PVC.jpg" class="img-fluid" alt="Polyvinyl Chloride (PVC)">
            </div>
        </div>
    </div>
</section>
<!-- End Polyvinyl Chloride (PVC) Section -->