<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Services</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem
                hic quas.</p> -->
        </div>
        <div class="row">
            <img src="../assets/img/services.jpg" class="img-fluid pad-bot-30" alt="">
            <!-- https://www.shutterstock.com/image-photo/truck-container-commercial-delivery-cargo-ship-672271585 -->
            <!-- https://www.shutterstock.com/image-photo/logistics-transportation-container-cargo-ship-plane-503119612 -->
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
                    <!-- <h4 class="title"><a href="">Marketing & Distribution</a></h4> -->
                    <h4 class="title"><a href="">GLOBAL MARKETING</a></h4>
                    <p class="description text-justify">ARTIMIS extensive marketing network compliments manufacturers' participation in global markets. We work closely with manufacturers to understand their ultimate objectives and we tailor-made marketing plan accordingly. Our diverse portfolio
                        of buyers across the globe is one of the strong pillars supporting our marketing plan.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                    <!-- <div class="icon"><i class="bx bx-file"></i></div> -->
                    <!-- <h4 class="title"><a href="">Logistics</a></h4> -->
                    <h4 class="title"><a href="">LOGISTICS</a></h4>
                    <p class="description text-justify">Our logistics team ensures products are transported globally with priorities on safety and efficiency. We also provide cost effective logistics solutions, warehousing, distribution and inventory management to our business partners.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                    <!-- <div class="icon"><i class="bx bx-tachometer"></i></div> -->
                    <!-- <h4 class="title"><a href="">Financing</a></h4> -->
                    <h4 class="title"><a href="">FINANCING</a></h4>
                    <p class="description text-justify">Our sound financial and experience enables us to deal with country, currency credit and other risks. Inherent to this, we provide attractive and flexible financial solutions to both petrochemical manufacturers and end users.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box icon-box-blue">
                    <!-- <div class="icon"><i class="bx bx-world"></i></div> -->
                    <!-- <h4 class="title"><a href="">Nemo Enim</a></h4> -->
                    <h4 class="title"><a href="">INNOVATION</a></h4>
                    <p class="description text-justify">Petrochemical manufacturers's R&D team constantly innovates advanced and complex polymers to maintain competitive edge in the industry, our function is to participate in this process and to feedback end users comments for continuous
                        improvement.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Services Section -->