<!-- ======= Styrenics Section ======= -->
<section id="styrenics" class="styrenics product_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>Styrenics</h2>                
                <a href="/#product">
                    <h6>Back to Products in Home Page</h6>
                </a>
                <br>                
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>GPPS</td>
                            </tr>
                            <tr>
                                <td>HIPS</td>
                            </tr>
                            <tr>
                                <td>ABS</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <img src="../assets/img/product/Styrenics.jpg" class="img-fluid" alt="Styrenics">
            </div>
        </div>
    </div>
</section>
<!-- End Styrenics Section -->